header {
                background: linear-gradient(-90deg,#fff 0,#fff 100%);
                border-bottom: 1px solid #fff
            }

            .sticky-header {
                background: linear-gradient(-90deg,#fff 0,#fff 100%);
                border-bottom: 1px solid #eee
            }

            .wdes-interface-menu #wdes-menu-top-header ul.menu li a {
                color: #fff
            }

            .wdes-interface-menu #wdes-menu-top-header ul.menu li a:hover {
                color: #fff
            }

            .clientarea-shortcuts a span {
                color: #fff
            }

            .clientarea-shortcuts a span:hover {
                color: #fff
            }

            .clientarea-shortcuts {
                border-color: #6e00e0 !important
            }

            .s-area span,.social li a {
                color: #fff
            }

            .social li a:hover {
                color: #e1c5ff
            }

            .wdes-interface-menu {
                background: linear-gradient(-90deg,#7d00ff 0,#7d00ff 100%);
                border-bottom: 1px solid #7d00ff
            }

            .wdes-menu-navbar ul.default-drop>li>a {
                color: #242424
            }

            .wdes-menu-navbar ul.default-drop>li>a:hover {
                color: #6e00e0
            }

            .wdes-menu-navbar .default-drop>li.current-menu-item>a {
                color: #6e00e0 !important
            }

            .wdes-menu-navbar ul.default-drop>li>ul.dropdown-content.wdes-global-style>li a {
                color: #7f7f7f
            }

            .wdes-menu-navbar ul.default-drop>li>ul.dropdown-content.wdes-global-style>li a:hover {
                color: #333
            }

            .logo {
                height: 40px !important
            }

            @media only screen and (max-width: 960px) and (min-width:160px) {
                .menu-d-mob {
                    background-color:#191919
                }
            }

            .wdes-mob-btn .icon-menu .line {
                background-color: #fff
            }

            .wdes-menu-is-active .icon-menu .line-1,.wdes-menu-is-active .icon-menu .line-3 {
                background-color: #fff
            }

            @media (max-width: 960px) and (min-width:160px) {
                .wdes-menu-navbar ul.default-drop>li>a {
                    color:#fff !important
                }

                .wdes-menu-navbar ul.default-drop>li>a:hover {
                    color: #7d00ff !important
                }

                .wdes-menu-navbar ul.default-drop>li.current-menu-item>a {
                    color: #7d00ff !important
                }

                .wdes-menu-navbar ul.default-drop>li {
                    border-bottom: 1px solid #232323
                }

                .wdes-menu-navbar ul.default-drop>li>ul.dropdown-content.wdes-global-style>li a {
                    color: #fff
                }

                .wdes-menu-navbar ul.default-drop>li>ul.dropdown-content.wdes-global-style>li a:hover {
                    color: #fff
                }
            }

            .wdes-menu-navbar .mega-w.dropdown-content li.heading>a {
                color: #242424
            }

            .wdes-menu-navbar ul.default-drop>li ul.dropdown-content li.heading:hover>a {
                color: #7d00ff
            }

            .wdes-menu-navbar ul.default-drop>li>ul.dropdown-content>li>a {
                border-bottom: 1px solid #eee
            }

            .wdes-menu-navbar .mega-w.dropdown-content li.heading>a span.divider-heading-mega {
                background: #eee
            }

            .text-logo {
                font-size: 20px
            }

            h1 {
                color: #7d00ff
            }

            h2 {
                color: #7d00ff
            }

            h3 {
                color: #7d00ff
            }

            h4 {
                color: #7d00ff
            }

            h5 {
                color: #7d00ff
            }

            h6 {
                color: #7d00ff
            }

            .footer {
                background: linear-gradient(-90deg,#242424 0,#242424 100%)
            }

            .footer h1,.footer h2,.footer h3,.footer h4,.footer h5,.footer h6,.footer .widget_wdes_newsletter h2,.footer .widget_rss h2>a.rsswidget,.widget-footer.widget_rss cite,#wp-calendar tfoot td a {
                color: #fff !important
            }

            .footer ul li a {
                color: #fff
            }

            .footer ul li a:hover {
                color: #fae474
            }

            .footer .widget_wdes_newsletter form .email-news {
                background: #242424 !important;
                border: 1px solid #242424 !important;
                text-transform: lowercase
            }

            .footer .widget_wdes_newsletter p {
                color: #fff
            }

            .footer .widget_wdes_newsletter form .sub-news {
                background: linear-gradient(-90deg,#7d00ff 0,#7d00ff 100%) !important
            }

            .copyrights-wdes-ft {
                background: linear-gradient(-90deg,#242424 0,#242424 100%)
            }

            .footer-menu ul li a {
                color: #fff
            }

            .footer-menu ul li a:hover {
                color: #fff
            }

            .footer .copyrights-wdes-ft p.wdes-copyrights-text {
                color: #fff
            }

            .footer-bg {
                background: #29306c;
                background-image: url();
                background-repeat: no-repeat;
                background-position: left top;
                background-size: auto
            }

            .wdes-partners-company {
                border-top: 1px solid #242424;
                border-bottom: 1px solid #242424
            }

            .wdes-partners-company span {
                color: #fff
            }

            .wdes-partners-company span:hover {
                color: #fff
            }

            #wdes-back-to-top {
                background-color: #242424;
                border: 1px solid #242424
            }

            #wdes-back-to-top:hover {
                background-color: #7d00ff;
                border: 1px solid #7d00ff
            }

            #wdes-back-to-top span {
                color: #fff
            }

            .wdes-loading {
                background: linear-gradient(-90deg,#7d00ff 0,#7d00ff 100%)
            }

            .best-feature .l-item-f {
                background: linear-gradient(-90deg,#c51e3a 0,#fae474 100%)
            }

            .best-feature .r-item-f {
                background: #f8f8f8
            }

            .block-comp span {
                background: linear-gradient(-90deg,#c51e3a 0,#fae474 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent
            }

            .plan-icon,a.chat-n,.block-footer-mlyo ul li a:hover,.info-bio h4,.title-error-t,.t-sty-a.colored h2,ul.categories li a:before,ul.categories li a:hover {
                background: linear-gradient(-90deg,#c51e3a 0,#fae474 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent
            }

            .social-media,.user-sub,.l-border {
                background: linear-gradient(-90deg,#c51e3a 0,#fae474 100%)
            }

            .title-faq-lv2 {
                background: linear-gradient(-90deg,#c51e3a 0,#fae474 100%)
            }

            .wpcf7 input:hover,.wpcf7 textarea:hover {
                border: 2px solid #242424
            }

            .wpcf7 input[type=submit] {
                background: #242424
            }

            .wpcf7 input[type=submit]:hover {
                background: #7d00ff
            }

            .parent-img-post-inner {
                background: linear-gradient(-90deg,#7d00ff 0,#7d00ff 100%)
            }

            .parent-title-archive .main-page-title-in h2 {
                color: #fff
            }

            .parent-title-archive p {
                color: #fff
            }

            ul.wdes-breadcrumb-area li a {
                color: #fff
            }

            ul.wdes-breadcrumb-area li {
                color: #fff
            }

            ul.wdes-breadcrumb-area li:after {
                color: #fff
            }

            .classic-post-view a.title-art-sub {
                color: #242424
            }

            .classic-post-view a.title-art-sub:hover {
                color: #7d00ff
            }

            .text-area a.read-more-btn {
                color: #242424;
                border: 2px solid #242424
            }

            .text-area a.read-more-btn:hover {
                background: #7d00ff;
                color: #fff;
                border: 2px solid #7d00ff
            }

            .sidebar-area .wid-title h2,.sidebar-area .wid-title a {
                color: #242424 !important
            }

            .block-sidebar-function ul li a:hover {
                color: #7d00ff
            }

            .block-sidebar-function.widget_search #wdes-fullscreen-searchform button[type=submit],.elementor-widget-container #wdes-fullscreen-searchform button[type=submit],.elementor-element #wdes-fullscreen-searchform button[type=submit] {
                background: #242424 !important
            }

            .posts li a {
                color: #242424 !important
            }

            .posts li a:hover {
                color: #7d00ff !important
            }

            .art-block-sub a[rel=tag]:hover {
                background: #7d00ff
            }

            .body-article h1,.body-article h2,.body-article h3,.body-article h4,.body-article h5,.body-article h6 {
                color: #242424
            }

            a.related-title {
                color: #242424
            }

            a.related-title:hover {
                color: #7d00ff
            }

            .tag-cloud-link:hover {
                background: #7d00ff
            }

            .comment-form #comment:hover,.comment-form #author:hover,.comment-form #email:hover,.comment-form #url:hover,.comment-form #comment:focus,.comment-form #author:focus,.comment-form #email:focus,.comment-form #url:focus {
                border: 1px solid #7d00ff
            }

            .comment-form .submit {
                background: #7d00ff
            }

            .comment-form .submit:hover {
                background: #7d00ff
            }

            .comments-blog .wid-title h2 {
                color: #242424 !important
            }

            a.comment-reply-link {
                background: #242424;
                border: 2px solid #242424
            }

            a.user-rep {
                color: #242424 !important
            }

            h3.comment-reply-title {
                color: #242424 !important
            }

            p.logged-in-as a {
                color: #242424
            }

            .widget-footer #wp-calendar thead th {
                background: #132a39
            }

            .widget-footer table td {
                background: #132a39
            }

            .widget-footer input[type=text],.widget-footer input[type=password],.widget-footer input[type=email],.widget-footer input[type=url],.widget-footer input[type=date],.widget-footer input[type=number],.widget-footer input[type=tel],.widget-footer input[type=file],.widget-footer textarea,.widget-footer select {
                background: #132a39;
                border: 1px solid #082333
            }

            .widget-footer a.tag-cloud-link {
                background: #242424;
                color: #fff
            }

            .widget-footer a.tag-cloud-link:hover {
                background: #7d00ff;
                color: #fff
            }

            .widget-footer #wdes-fullscreen-search-input {
                background: #242424;
                border: 1px solid #242424
            }

            .widget-footer i.fas.fa-search.fullscreen-search-icon {
                color: #fff
            }

            .widget-footer.widget_search button[type=submit] {
                background: #242424 !important
            }

            .func-hr2 {
                background: #d8dde6
            }

            .footer .wdes-about-widget .company-sc .company-info-block span,.footer .wdes-about-widget .company-sc .company-info-block a,.footer .wdes-about-widget>p {
                color: #fff !important
            }

            .footer .wdes-about-widget .company-sc .company-info-block i {
                color: #fff
            }

            .footer li,.footer input[type=text],.footer input[type=password],.footer input[type=email],.footer input[type=url],.footer input[type=date],.footer input[type=number],.footer input[type=tel],.footer input[type=file],.footer textarea,.footer select,.widget-footer #wp-calendar caption,.widget-footer #wdes-fullscreen-search-input::placeholder,.footer.footer-dark a.rsswidget {
                color: #fff !important
            }

            .footer p {
                color: #fff
            }

            .widget-footer #wp-calendar tbody td,.widget-footer #wp-calendar thead th,.widget-footer #wp-calendar tfoot td {
                border: 1px solid #082333
            }

            .widget-footer #wp-calendar thead th,.footer-dark #wp-calendar tfoot td a,.widget-footer #wp-calendar tbody td {
                color: #fff
            }

            #wp-calendar #today {
                background: #7d00ff;
                border: 1px solid #7d00ff;
                color: #fff
            }

            .woocommerce nav.woocommerce-pagination ul li a {
                background: #f3f5f9
            }

            .woocommerce nav.woocommerce-pagination ul li a {
                color: #242424
            }

            .woocommerce nav.woocommerce-pagination ul li span.page-numbers.current,.woocommerce nav.woocommerce-pagination ul li a:hover {
                background: #242424
            }

            .woocommerce nav.woocommerce-pagination ul li span.page-numbers.current,.woocommerce nav.woocommerce-pagination ul li a:hover {
                color: #fff
            }

            div#bridge section#main-menu,div#bridge section#home-banner,div#bridge section#main-menu .navbar-main {
                background: linear-gradient(-90deg,#242424 0,#242424 100%)
            }

            div#bridge section#home-banner .btn.search {
                background: #7d00ff
            }

            div#bridge section#home-banner .btn.transfer {
                background: #242424 !important
            }

            div#bridge .home-shortcuts {
                background: #7d00ff
            }

            div#bridge .home-shortcuts li,div#bridge .home-shortcuts li:first-child {
                border-color: #7d00ff
            }

            div#bridge div#twitterFeedOutput {
                border-left: 4px solid #7d00ff
            }

            div#bridge .panel-sidebar .panel-heading {
                background: #242424 !important
            }

            div#bridge .panel-sidebar a.list-group-item.active,div#bridge .panel-sidebar a.list-group-item.active:focus,div#bridge .panel-sidebar a.list-group-item.active:hover {
                background: #7d00ff !important;
                border-color: #7d00ff !important
            }

            div#bridge .btn-primary {
                background: #7d00ff;
                border-color: #7d00ff
            }

            .error-p {
                background: #fff url()
            }

            .title-error h2 {
                color: #204056
            }

            .title-error p {
                color: #7e7e7e
            }

            .coming {
                background: #204056 url()
            }

            .com-title {
                color: #fff
            }

            .wdes-menu-navbar ul.default-drop>li>a {
                font-family: "Montserrat";
                font-weight: 600;
                font-size: 14px
            }

            .wdes-menu-navbar ul.default-drop>li>ul.dropdown-content>li>a {
                font-family: "Montserrat";
                font-weight: 400;
                font-size: 13px
            }

            .wdes-menu-navbar .mega-w.dropdown-content li.heading>a {
                font-family: "Montserrat";
                font-weight: 600;
                font-size: 16px
            }

            .parent-title-archive h2 {
                font-family: "Poppins";
                font-weight: 600;
                font-size: 50px
            }

            .classic-post-view a.title-art-sub {
                font-family: "Poppins";
                font-weight: 700;
                font-size: 18px
            }

            .inner-item-art .title-art-sub {
                font-family: "Poppins";
                font-weight: 600;
                font-size: 36px
            }

            p {
                font-family: "Roboto";
                font-weight: 400;
                font-size: 14px
            }

            blockquote {
                font-family: "Roboto";
                font-weight: 600;
                font-size: 16px
            }

            a {
                font-family: "Roboto";
                font-weight: 400;
                font-size: 17px
            }

            h1 {
                font-family: "Poppins";
                font-weight: 700;
                font-size: 32px
            }

            h2 {
                font-family: "Poppins";
                font-weight: 700;
                font-size: 24px
            }

            h3 {
                font-family: "Poppins";
                font-weight: 700;
                font-size: 20.8px
            } 

            h4 {
                font-family: "Poppins";
                font-weight: 700;
                font-size: 16px
            }

            h5 {
                font-family: "Poppins";
                font-weight: 700;
                font-size: 12.8px
            }

            h6 {
                font-family: "Poppins";
                font-weight: 700;
                font-size: 11.2px
            }

            html,body {
                overflow: auto
            }